<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnalizerClassLibraryTests.Properties.Settings.testingConnectionString"
            connectionString="Data Source=DESKTOP-FACGHCU\SQLEXPRESS;Initial Catalog=testing;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>